@charset "UTF-8";
@import url('reset.css');
@import url('https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css');

* {
    font-family: 'Noto Sans Korean', sans-serif;
    font-size: 13pt;
    box-sizing:border-box;
}

article.tiles { width:100%; }
aside { display:none; z-index:10; }
aside.show { display:block; }