<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
             
<mapper namespace="com.nexters.tagit.mapper.ArticleMapper">
	<select id="selectArticleListByKeyword" parameterType="string" resultType="com.nexters.tagit.model.ArticleModel">
		SELECT
			article_num AS articleNum,
			art_url AS articleUrl,
			art_title AS articleTitle,
			create_time AS createTime,
			thumbnail AS thumbnail
		FROM
			article
		WHERE
			art_title LIKE '%' || #{keyword} || '%'
		<!-- 검색창 화면 완료 이후 조건 수정 예정 -->
	</select>
</mapper>