<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
             
<mapper namespace="com.nexters.tagit.mapper.ItemMapper">
	<select id="selectItemListByKeyword" parameterType="string" resultType="com.nexters.tagit.model.ItemModel">
		SELECT
			id AS id,
			url AS url,
			title AS title,
			create_time AS createTime,
			thumbnail AS thumbnail,
			content AS content
		FROM
			item
		WHERE
			title LIKE #{keyword}
	</select>
	<select id="selectByTagId" parameterType="int" resultType="com.nexters.tagit.model.ItemModel">
		select *
		from item
		where id = (select item_id
		from item_tag
		where tag_id = #{tag_id}
		limit 1
		)
		
	</select>
	<select id="selectByCount" parameterType="int" resultType="com.nexters.tagit.model.ItemModel">
		select *
		from item
		limit #{count}
	</select>
	<select id="selectByItemTag" parameterType="int" resultType="com.nexters.tagit.model.ItemModel">
		select i.*
		from item i join item_tag t
		on i.id = t.item_id
		where t.tag_id = #{tag_id}
		limit 1;
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into item(url,create_time,thumbnail,content,user_id,attachment,memo)
		values(#{url},now(),#{thumbnail},#{content},#{user_id},#{attachment},#{memo})
	</insert>
	<insert id="insertItemTag">
		insert into item_tag
		values(#{item_id},#{tag_id})
	</insert>
</mapper>